<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627975150234-30mc0k2p70cifc8epamfbh8qd22algrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627975150234-30mc0k2p70cifc8epamfbh8qd22algrt</string>
	<key>API_KEY</key>
	<string>AIzaSyAyalu4yXfciOMZm64J2dLnIWEnHbTKe7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>627975150234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MyGallery.MyGallery</string>
	<key>PROJECT_ID</key>
	<string>mygallery-5b7f1</string>
	<key>STORAGE_BUCKET</key>
	<string>mygallery-5b7f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627975150234:ios:c66bdf63b920e966735d23</string>
</dict>
</plist>